<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" script-src='unsafe-inline' ;>
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
    <!-- <link rel="stylesheet" type="text/css" href="../css/jquery.mobile-1.4.5.min.css"> -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="../css/all.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="../css/tema.css" rel="stylesheet" media="all">
    <link href="../css/material-design-iconic-font.css" rel="stylesheet" media="all">

    <title>INICIO</title>
</head>

<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li><a href="inicio.html">Página Principal</a></li>
                <li><a href="notas_read.html">Tareas</a></li>
                <li><a href="materias_primas_read.html">Materias primas</a></li>
            </ul>
        </div>
        <div data-role="page" id="page-content-wrapper">
            <div class="container">
                <div data-role="header" style="height: 90px;" id="purple" class="text-center">
                    <img src="../img/logo.png">
                    <a href="#" class="btn" id="menu-toggle"><span class="zmdi zmdi-sort-amount-desc"></span></a>
                </div>
                <br>
                <h1 class="text-center">Graficos</h1>
                <hr>
                <!-- haciendo graficos -->
                <div class="au-card-inner">
                    <h5 align="center">Existencias por categoría (productos por agotar)</h5>
                    <canvas id="existencia_categoria_agotar"></canvas>
                </div>
                <!-- aqui el otro grafico -->
                <br><br>
                <div class="au-card-inner">
                    <h5 align="center">Existencias por categoría (Sobre existencias)</h5>
                    <canvas id="existencia_categoria_sobre_existen"></canvas>
                </div>
                <!-- aqui va el otro grafico aguantaaaa -->
                <br><br>
                <div class="recent-report2">
                    <h3 align="center" class="title-1">Ventas.</h3>
                    <div class="chart-info">
                    </div>
                    <h5 align="center">Platillos más vendidos</h5>
                    <canvas id="venta_platillo"></canvas>
                    <hr>
                    <h5 align="center">Platillos menos vendidos</h5>
                    <canvas id="venta_platillo_menor"></canvas>
                </div>

            </div>

            <script type="text/javascript" src="../js/index.js"></script>
            <script type="text/javascript" src="../js/geturi.js"></script>
            <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
            <script type="text/javascript" src="../js/sweetalert.min.js"></script>
            <script type="text/javascript" src="../js/functions.js"></script>
            <script type="text/javascript" src="../js/index.js"></script>
            <script type="text/javascript" src="../js/tema.js"></script>
            <script type="text/javascript" src="../js/chart.bundle.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    graficar_existencia_categoria_agotar();
                    graficar_existencia_categoria_sobre_existencias();
                    graficar_ventas_platillos();
                    graficar_ventas_platillos_menor();
                    function graficar_existencia_categoria_agotar() {
                        //se manda a pedir los datos de la api
                        $.ajax({
                                url: "https://pizzanova2.000webhostapp.com/php/graficos.php", // + 'existencias_categoria_agotar',
                                type: 'post',
                                data: null,
                                datatype: 'json'
                            })
                            .done(response => {
                                //se hacen los arreglos para poder recorrer las filas de la consulta
                                var nombre = [];
                                var existencia = [];
                                //se genera un ciclo para poder recorrer las filas de la tabla de la base de datos
                                const result = response;
                                result.dataset.forEach(row => {
                                    //se recorren todos los datos que esten en las filas especificadas en el row
                                    nombre.push(row.nombre_categoria);
                                    existencia.push(parseInt(row.cantidad));
                                });
                                //se mandar los parametros de la funcion que se crea en el controlador de function.js los cuales son el id, xAxis, yAxis y legend
                                grafico_existencia_categoria_agotar("existencia_categoria_agotar", nombre,
                                    existencia, "Existencias.",
                                    " (productos a punto de acabarse)"
                                )
                            })

                            //en caso de error se ejecuta esta funcion
                            .fail(function (jqXHR) {
                                //Se muestran en consola los posibles errores de la solicitud AJAX
                                console.log('Error: ' + jqXHR.status + ' ' + jqXHR.statusText);
                            });


                    }
                })

                function graficar_existencia_categoria_sobre_existencias() {
                    //se manda a pedir los datos de la api
                    $.ajax({
                            url: "https://pizzanova2.000webhostapp.com/php/grafico2.php", //'existencias_categoria_sobre_existen',
                            type: 'post',
                            data: null,
                            datatype: 'json'
                        })
                        .done(response => {
                            //se hacen los arreglos para poder recorrer las filas de la consulta
                            var nombre = [];
                            var existencia = [];
                            //se genera un ciclo para poder recorrer las filas de la tabla de la base de datos
                            const result = response;
                            result.dataset.forEach(row => {
                                //se recorren todos los datos que esten en las filas especificadas en el row
                                nombre.push(row.nombre_categoria);
                                existencia.push(parseInt(row.cantidad));
                            });
                            //se mandar los parametros de la funcion que se crea en el controlador de function.js los cuales son el id, xAxis, yAxis y legend
                            grafico_existencia_categoria_sobre_existen("existencia_categoria_sobre_existen", nombre,
                                existencia, "Existencias.",
                                "(productos con mayor existencia)")
                        })

                        //en caso de error se ejecuta esta funcion
                        .fail(function (jqXHR) {
                            //Se muestran en consola los posibles errores de la solicitud AJAX
                            console.log('Error: ' + jqXHR.status + ' ' + jqXHR.statusText);
                        });

                }

                function graficar_ventas_platillos() {
                    //se manda a pedir los datos de la api
                    $.ajax({
                            url: "https://pizzanova2.000webhostapp.com/php/grafico3.php", //'ventas_platillos_mayor',
                            type: 'post',
                            data: null,
                            datatype: 'json'
                        })
                        .done(response => {
                            //se hacen los arreglos para poder recorrer las filas de la consulta
                            var nombre = [];
                            var venta = [];
                            //se genera un ciclo para poder recorrer las filas de la tabla de la base de datos
                            const result = response;
                            result.dataset.forEach(row => {
                                //se recorren todos los datos que esten en las filas especificadas en el row
                                nombre.push(row.nombre_platillo);
                                venta.push(row.subtotal);
                            });
                            //se mandar los parametros de la funcion que se crea en el controlador de function.js los cuales son el id, xAxis, yAxis y legend
                            grafica_venta_platillos_mayor("venta_platillo", nombre, venta, "dolares",
                                "Top 5 platillos más vendidos")
                        })

                        //en caso de error se ejecuta esta funcion
                        .fail(function (jqXHR) {
                            //Se muestran en consola los posibles errores de la solicitud AJAX
                            console.log('Error: ' + jqXHR.status + ' ' + jqXHR.statusText);
                        });

                }

                function graficar_ventas_platillos_menor() {
                    //se manda a pedir los datos de la api
                    $.ajax({
                            url: "https://pizzanova2.000webhostapp.com/php/grafico4.php", //'ventas_platillos_menor',
                            type: 'post',
                            data: null,
                            datatype: 'json'
                        })
                        .done(response => {
                            //se hacen los arreglos para poder recorrer las filas de la consulta
                            var nombre = [];
                            var venta = [];
                            //se genera un ciclo para poder recorrer las filas de la tabla de la base de datos
                            const result = response;
                            result.dataset.forEach(row => {
                                //se recorren todos los datos que esten en las filas especificadas en el row
                                nombre.push(row.nombre_platillo);
                                venta.push(row.subtotal);
                            });
                            //se mandar los parametros de la funcion que se crea en el controlador de function.js los cuales son el id, xAxis, yAxis y legend
                            grafica_venta_platillos_menores("venta_platillo_menor", nombre, venta, "dolares",
                                "Top 5 platillos menos vendidos")
                        })

                        //en caso de error se ejecuta esta funcion
                        .fail(function (jqXHR) {
                            //Se muestran en consola los posibles errores de la solicitud AJAX
                            console.log('Error: ' + jqXHR.status + ' ' + jqXHR.statusText);
                        });

                }
            </script>
</body>

</html>