<!DOCTYPE html>
<html lang="es">

<head>

    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
    <!-- <link rel="stylesheet" type="text/css" href="../css/jquery.mobile-1.4.5.min.css"> -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="../css/all.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="../css/tema.css" rel="stylesheet" media="all">
    <link href="../css/material-design-iconic-font.css" rel="stylesheet" media="all">

    <title>INICIO</title>
</head>

<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li><a href="inicio.html">Pagina Principal</a></li>
                <li><a href="#">Cerrar Sesión</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="notas_read.html">Tareas</a></li>
                <li><a href="materias_primas_read.html">Materias primas</a></li>
            </ul>
        </div>
        <div data-role="page" id="page-content-wrapper">
            <div class="container">
                <div data-role="header" style="height: 90px;" id="purple" class="text-center">
                    <img src="../img/logo.png">
                    <a href="#" class="btn" id="menu-toggle"><span class="zmdi zmdi-sort-amount-desc"></span></a>
                </div>
                <br>
                <h1 class="text-center">Reportes</h1>
                <hr>
                <!-- haciendo graficos -->
                <a class="btn btn-primary btn-lg btn-block active" href="http://localhost:8080/php/reporte1.php" target="_blank"
                    role="button" target="_blank">Platillos por categoría</a><br>
                <a class="btn btn-primary btn-lg btn-block active" href="http://localhost:8080/php/reporte2.php" target="_blank"
                    role="button" target="_blank">Pedidos
                    por fecha</a><br>
                <a class="btn btn-primary btn-lg btn-block active" href="http://localhost:8080/php/reporte3.php" target="_blank"
                    role="button" target="_blank">Materia
                    prima por categoría</a><br>
                <a class="btn btn-primary btn-lg btn-block active" href="http://localhost:8080/php/reporte4.php" target="_blank"
                    role="button" target="_blank">Ganancia
                    por platillo</a><br>
                <a class="btn btn-primary btn-lg btn-block active" href="http://localhost:8080/php/reporte5.php" target="_blank"
                    role="button" target="_blank">Ganancia
                    por categoría</a>
            </div>

<script type="text/javascript" src="../js/index.js"></script>
<script type="text/javascript" src="../js/geturi.js"></script>
<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../js/sweetalert.min.js"></script>
<script type="text/javascript" src="../js/functions.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
<script type="text/javascript" src="../js/tema.js"></script>

</body>
</html>